{% extends "base.html" %}
{%  load  staticfiles  %}
{% block content %}
    <div  id="post" class="post">
      <ul>
        <table>
          <tr>
            <th>Partit</th>
            <th>Gols locals</th>
            <th>Gols visitants</th>
          </tr>
          {% for matchEnded in matchEnded_list %}
            <tr>
              <td><a href="{{matchEnded.id}}/">{{matchEnded.match}}</td>
              <td>{{matchEnded.golslocal}}</td>
              <td>{{matchEnded.golsvisitant}}</td>
            </tr>
          {% endfor %}
        </table>
      </ul>
    </div>
{%  endblock  %}
