{% extends "base.html" %}
{%  load  staticfiles  %}
{% block content %}
    <div  id="post" class="post">

<ul vocab ="http://schema.org/" typeof="Question">
    <h3>Detalls Partit</h3>
    <table>
        <th><span property="name">{{match.competicio}}</span></th>
        <td><span property="sourceOrganization">{{match.local}}</span></td>
        <td><span property="sourceOrganization">{{match.visitant}}</span></td>
        <td><span property="identifier">Jornada: {{match.jornada}}</span></td>
      </table>

    <h3>Llista de Pronostics</h3>
    <ul rel="suggestedAnswer">
        {%  for  pronostic  in  match.pronostic_set.all  %}
            <li typeof="Answer">
                <span property="acceptedAnswer">{{pronostic.pronosticPartit}}</span>
                <span property="name">{{pronostic.usuari}}</span>
                <span property="description">{{pronostic.comment}}</span>
                {% if user == pronostic.usuari %}
                    <a href="{%  url  'footballRates:pronostic_delete'  pronostic.id  %}">delete</a>
                {% endif %}
              </li>
        {%  endfor  %}
    </ul>
    {% if user.is_authenticated %}
        <h3>Afegir Pronostic</h3>
        <form action="{% url 'footballRates:pronostics_create' match.id %}" method="post">
        {%  csrf_token  %}
            Comentari:  <textarea  name="comment"  id="comment"  rows="2"></textarea>
              <div>
            <fieldset>
              <input type="radio" id="1" name="pronosticPartit" value="1"><label for="1">Local</label>
              <input type="radio" id="2" name="pronosticPartit" value="0"><label for="2">Empat</label>
              <input type="radio" id="3" name="pronosticPartit" value="2"><label for="3">Visitant</label>
            </fieldset>
          </div>
          <div>
              <button class="btn btn-success" type="submit">Afegir Pronostic</button>
          </div>
          </form>
      {% endif %}
{% endblock %}
