{% extends "base.html" %}
{%  load  staticfiles  %}
{% block content %}
    <div  id="post" class="post">
      <ul>
        <table>
          <tr>
            <!-- <th> = calçalera -->
            <th>Local</th>
            <th>Visitant</th>
          </tr>
          {% for m in match_list%}
          <tr>
            <td>{{m.local}}</td>
            <td>{{m.visitant}}</td>
            <td><a href="{{m.id}}/">Preview</td>

          </tr>
          {% endfor %}
        </table>
      </ul>
    </div>
    <div  id="content">
    {%  if  error_message  %}
        <p>
            <strong>{{  error_message  }}</strong>
        </p>
    {%  endif  %}
    </div>
{%  endblock  %}
