{% extends "base.html" %}
{%  load  staticfiles  %}
{% block content %}
    <div  id="post" class="post">


      <h3>Detalls Partit</h3>
      <table>
      <th>{{matchEnded.match}}</th>
      <td>{{matchEnded.golslocal}}</td>
      <td>{{matchEnded.golsvisitant}}</td>
      </table>


      <h3>Llista de Croniques</h3>
      <table>
        {%  for  cronica  in  matchEnded.cronica_set.all  %}
          <tr>
            <th>{{cronica.usuari}}</th>
            <td>{{cronica.comment}}</td>
            {% if user == cronica.user %}
              <td><a href="{%  url  'footballRates:cronica_edit'  cronica.id  %}">edit</a></td>
              <td><a href="{%  url  'footballRates:cronica_delete'  cronica.id  %}">delete</a></td>
            {% endif %}
          </tr>
        {%  endfor  %}
      </table>



      <h3>Afegir Cronica</h3>
{% endblock %}
