{% extends "base.html" %}
{%  load  staticfiles  %}
{% block content %}
    <div  id="post" class="post">


      <h3>Detalls Partit</h3>
      <table>
        <th>{{matchEnded.id}}</th>
        <td>{{MatchEnded.golslocal}}</td>
        <td>{{MatchEnded.golsvisitant}}</td>
      </table>


      <h3>Llista de Croniques</h3>
      <table>
        {%  for  cronica  in  matchEnded.cronica_set.all  %}
          <tr>
            <th>{{cronica.usuari}}</th>
            <td>{{cronica.comment}}</td>
            {% if user == cronica.user %}
              <td><a href="{%  url  'footballRates:cronica_delete'  cronica.id  %}">delete</a></td>
            {% endif %}
          </tr>
        {%  endfor  %}
      </table>


      {% if user.is_authenticated %}
        <h3>Afegir Cronica</h3>
        <form action="{% url 'footballRates:cronica_create' matchEnded.id %}" method="post">
        {%  csrf_token  %}
          Comentari:  <textarea  name="comment"  id="comment"  rows="2"></textarea>
          <div>
              <button class="btn btn-success" type="submit">Afegir Pronostic</button>
          </div>
        </form>
      {% endif %}
    </div>
{% endblock %}
