{% extends "base.html" %}
{%  load  staticfiles  %}
{% block content %}
    <div  id="post" class="post">
      <ul>
        <table>
          <tr>
            <th>Nom</th>
            <th>Equip</th>
            <th>Edat</th>
          </tr>
          {% for p in player_list%}
          <tr>
            <td><a href="{{p.id}}/">{{p.nom}}</td>
            <td>{{p.equip}}</td>
            <td>{{p.edat}}</td>

          </tr>
          {% endfor %}
        </table>
      </ul>
    </div>

{%  endblock  %}
