{%  load  staticfiles  %}
<!DOCTYPE  html>
<html>
  <head>
    <title>PLAYER DETAIL</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link  rel="stylesheet"  href="{%  static  "style/base.css"  %}"  />
  </head>
  <body>
    <div = class="page-header">
      <h1>Football Rates</h1>
      {%  block  header  %}
        {%  if  user.username  %}
            <h2><p>User:  {{  user.username  }}  |  <a class="logout" href="{%  url  'logout'  %}?next={{request.path}}">logout</a>
            </p></h2>
        {%  else  %}
            <p><a class="logout" href="{%  url  'login'  %}?next={{request.path}}">login</a></p>
        {%  endif  %}
      {%  endblock  %}
    </div>
    <div class="menu_bar">
      <ul class="noselect">
        <a class="botton" href="/" target="_self">Home</a>
        <a class="botton" href="http://127.0.0.1:8000/matches/" target="_self">Partits per jugar</a>
        <a class="botton" href="http://127.0.0.1:8000/matchesEnded/" target="_self">Partits acabats</a>
        <a class="botton" href="http://127.0.0.1:8000/players/" target="_self">Jugadors</a>
      </ul>
    </div>
    <div  id="post" class="post">


    <h3>Detalls Jugador</h3>
    <table>
    <th>{{p.nom}}</th>
    <td>{{p.equip}}</td>
    <td>{{p.edat}}</td>
    <td>{{p.nacionalitat}}</td>
    <td>{{p.posicio}}</td>
    <td>{{p.dorsal}}</td>
    </table>


      <h3>Llista de Valoracions</h3>
      <table>
        {%  for  valoration  in  player.playervaloration_set.all  %}
          <tr>
            <th>{{valoration.usuari}}</th>
            <td>{{valoration.pronosticPartit}}</td>
            <td>{{valoration.comment}}</td>
            {% if user == valoration.usuari %}
              <td><a href="{%  url  'footballRates:playersvaloration_edit'  playervaloration.id  %}">edit</a></td>
              <td><a href="{%  url  'footballRates:playervaloration_delete'  playervaloration.id  %}">delete</a></td>
            {% endif %}
          </tr>
        {%  endfor  %}
      </table>

      <h3>Afegir Valoracions</h3>



      {%  block  footer  %}
      {% endblock %}
    </div>
  </body>
</html>
