{% extends "base.html" %}
{%  load  staticfiles  %}
{% block content %}
    <div  id="post" class="post">


    <h3>Detalls Jugador</h3>
    <table>
    <th>{{p.nom}}</th>
    <td>{{p.equip}}</td>
    <td>{{p.edat}}</td>
    <td>{{p.nacionalitat}}</td>
    <td>{{p.posicio}}</td>
    <td>{{p.dorsal}}</td>
    </table>


      <h3>Llista de Valoracions</h3>
      <table>
        {%  for  valoration  in  player.playervaloration_set.all  %}
          <tr>
            <th>{{valoration.usuari}}</th>
            <td>{{valoration.pronosticPartit}}</td>
            <td>{{valoration.comment}}</td>
            {% if user == valoration.usuari %}
              <td><a href="{%  url  'footballRates:playersvaloration_edit'  playervaloration.id  %}">edit</a></td>
              <td><a href="{%  url  'footballRates:playervaloration_delete'  playervaloration.id  %}">delete</a></td>
            {% endif %}
          </tr>
        {%  endfor  %}
      </table>

      <h3>Afegir Valoracions</h3>



      {%  block  footer  %}
      {% endblock %}
{%  endblock  %}
