h1 {
    color: #ebfdff;
}
h2 {
    color: #ebfdff;
    font-size: 18px;
}
.logout {
    color: #000000;
    font-size: 18px;
}

body {
    font-family: sans-serif;
}
.page-header{
  background-color: #18808d;
  margin-top: 0;
  padding: 20px 20px 30px 40px;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu_bar{
  height: 60px;
  width: 100%;
  background-color: #6A5D35;
  float: left;
  padding: 20px 20px 20px 20px;
}
li:hover {
  background-color: #AD8E61;
}
.botton {
  border: 1px solid #2e518b; /*anchura, estilo y color borde*/
  padding: 10px; /*espacio alrededor texto*/
  background-color: #2e518b; /*color botón*/
  color: #ffffff; /*color texto*/
  text-decoration: none; /*decoración texto*/
  text-transform: uppercase; /*capitalización texto*/
  font-family: 'Helvetica', sans-serif; /*tipografía texto*/
  border-radius: 50px;
}
